@CHARSET "ISO-8859-1";

body {
    background-color: #FFFF00;
}

h1 {
    color: navy;
    margin-left: 20px;
}

iframe.noScrolling { 
            width:100% ;		  
            overflow: hidden;  
            border-top-style: solid;
	    border-right-style: none;
	    border-bottom-style: solid;
	    border-left-style: none;
	    border-color: #0055FF;
}

iframe.scrolling { 
            width:100% ;			
            border-top-style: none;
	    border-right-style: none;
	    border-bottom-style: none;
	    border-left-style: none;
	    border-color: #BBFFBB;
}


button {
    background-color: #FF0000; /* Green */
    width: 300px;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    position: fixed;    
}

button1 {
    background-color: #FF0000; /* Green */
    width: 200px;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    position: fixed;    
}

button:hover {
    background-color: #3e8e41;
}